body {
  background-color: lightblue;
}

.titre_profil {
  color: black;
  font-size: 70px;
}

.nom {
  color: black;
  font-size: 50px;
}

.email {
  color: black;
  font-size: 50px;
}

.sexualité {
  color: black;
  font-size: 50px;
}

.date_naissance {
  color: black;
  font-size: 50px;
}

.statut {
  color: black;
  font-size: 50px;
}

.historique {
  color: black;
  font-size: 50px;
}
